body{
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Images/background.jpg);
    background-size: cover;
}
.flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.StopWatch{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Images/StopWatch.png);
    background-size: cover;
    border-radius: 50%;
}
.strstp{
    padding: 4px 12px !important;
}
.Laps,.hist{
    width: 350px;
    min-height: 30px;
    display: flex;
    border-top: 2px solid white;
    justify-content: center;
    margin-top: 30px;
    color: white;
}
.Laps{
    margin-top: 10px;
}
.LapVal{
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}
h3{
    display: flex;
    border-bottom: 2px solid white;
    width: 350px;
    justify-content: center;
}
h4{
    display: flex;
    width: 350px;
    justify-content: center;
}
.lap{
    padding: 8px 6px !important;
}
.btn{
    border-radius: 50% !important;
    color: #07344D;
}
.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
.btn:hover{
    background-color: rgb(224, 220, 220);
}
.btn:active{
    background-color: rgb(192, 187, 187);
}
.fa-play{
    padding: 14px 17px !important;
}
.fa-repeat,.fa-pause{
    padding: 14px 16px !important;
}
.fa,.btn{
    margin: 38px !important;
    font-size: 25px !important;
}
.buttons{
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.sem{
    position: absolute;
    width: 180px;
    height: 220px;
    display: flex;    
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}
.semnum{
    width: 60px;
    height: 70px;
}
.semsign{
    width: 0px;
    height: 70px;
    font-size: 40px;
    color: #AFDAEE;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Dmsec,
.Dmins,
.Dsec{
    position: absolute;
    width: 180px;
    height: 220px;
    display: flex;
}
.dmsc,.dmn,.dsc{
    text-align: center;
    background: transparent;
    border: none;
    width: 60px;
    height: 70px;
    font-size: 40px;
    color: #AFDAEE;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.Dmsec{
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
}
.Dmins{
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
}
.Dsec{
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

.StopWatch .msec,
.StopWatch .mins,
.StopWatch .sec{
    position: absolute;
}
.ms,.mn{
    width: 83px;
    height: 85px;
    padding-top: 18px;
}
.StopWatch .msec,
.StopWatch .mins{
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
}
.StopWatch .msec{
    justify-content: flex-start;
}
.StopWatch .mins{
    justify-content: flex-end;
}
.StopWatch .sec, .sc{
    width: 300px;
    height: 300px;
}
.ms,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
}
.ms::before,
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-image: url(Images/HrMnNeedle.png);
    background-size: cover;
    z-index: 10;
}
.sc::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 180px;
    background-image: url(Images/SecNeedle.png);
    background-size: cover;
    z-index: 10;

    /* width: 0; 
    height: 0px; 
    border-left: 5px solid #07344D;
    border-right: 5px solid #07344D;
    
    border-bottom: 150px solid white; */
      
      /* background: white; */
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}